.container {
  display: flex;
  flex-direction: row;
  align-items: anchor-center;

  .list-container {
    padding: 0 .5em;

    ul {
      margin:1.5px 0px 0px  0px;
      display: flex;
      flex-direction: row;

      li {
        min-width: 3vw;
        border-style: solid;

        a {
          text-decoration: none;
          color:var(--background-color);
          color: black;

          &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
          }
        }
      }
    }
  }

  .header-shelf {
    margin-bottom: -.4em;
    color: var(--heading-color);
    min-width: max-content;
  }
  .book-sort-filter {
    writing-mode: horizontal-tb;
    text-decoration: none;
    font-family: dongle;
    font-size: 24px;

    border-radius: 2px;
    padding: 0em .3em;
    line-height: 1.7rem;
    list-style-type: none;

    background-color: lightblue;
    border-radius: 5px;

    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.20);
  }
}

.book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: .2em;
  width: 500px;
  max-width: 100vw;
  padding-inline: 1rem;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}

.book-container:nth-of-type(odd) {
  justify-content: flex-end;
  background-position: 0%;
}

.book-container:nth-of-type(3n + 1) {
  background-image: url("../assets/plant1.svg");
}

.book-container:nth-of-type(3n + 2) {
  background-image: url("../assets/plant2.svg");
}

.book-container:nth-of-type(3n + 3) {
  background-image: url("../assets/plant3.svg");
}

.bookshelf {
  display: block;

  position: relative;
  width: 500px;
  max-width: 100vw;
  height: 20px;

  margin-bottom: 2.5rem;

  background-color: var(--shelf);
  border-radius: 10px;
  z-index: -1;

  &::before,
  &::after {
    content: " ";
    background-color: var(--support);
    width: 20px;
    height: 10px;
    position: absolute;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    top: 100%;
  }

  &::before {
    left: 5%;
  }

  &::after {
    right: 5%;
  }
}

.book {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: fit-content;

  --book-color: var(--book-color-five);
  border-radius: 5px;
  writing-mode: vertical-lr;

  position: relative;
  top: 5px;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.20);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.20);

  transition: .1s ease-in-out;

  &:hover {
    top: -2px;
    box-shadow: none;
    transition: .1s ease-in-out;
  }

  &.thriller {
    --book-color: var(--book-color-one);
  }

  &.drama {
    --book-color: var(--book-color-two);
  }

  &.action {
    --book-color: var(--book-color-three);
  }

  &.comedy {
    --book-color: var(--book-color-four);
  }

  button {
    appearance: none;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-family: dongle;
    line-height: 1rem;
    font-size: 1.5rem;
    color: black;
    padding: 1em .2em;

    background-color: var(--book-color);

    &:hover{
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: -8px;
    }
  }
}