:popover-open {
    writing-mode: horizontal-tb;
    border: 0px;
    border-radius: 25px;
    font-family: var(--primary-font);

    background-color: var(--book-color);

    height: 80vh;
    width: 80vw;
    max-width: 500px;
    display: block;
    margin: auto;
    padding: 2rem;

    p {
        font-family: sans-serif;
    }

    img {
        height: 50%;
        border-radius: 25px;
        margin-top: 15px;
    }

    h3 {
        margin-top: 1em;
    }

    form,
    label {
        display: flex;
        flex-direction: column;
    }

    form {
        gap: 1em;
    }

    input,
    textarea {
        width: 80%;
        appearance: none;
        border: none;
        border-radius: 5px;
        line-height: 2em;
        padding-inline: .5em;
        font-family: sans-serif;
    }

    button {
        appearance: none;
        border: 1px solid black;
        border-radius: 5px;
        text-decoration: none;
        font-family: dongle;
        line-height: 1.5lh;
        font-size: 2rem;
        background-color: transparent;
        color: black;
        padding: .2em .5em;
        width: fit-content;

        &:hover {
            translate: 0 -2px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 3px 0px;
            cursor: pointer;
        }

        &:active {
            box-shadow: rgba(0, 0, 0, 0.2) 0 3px 0px inset;
            translate: 0 2px;
        }
    }
}

:popover-open::backdrop {
    background-color: var(--background-color);
    opacity: 50%;

}

@starting-style {
    [popover] {
        transform: scaleX(.5) scaleY(.5);
    }
}

[popover] {
    transition: .3s all cubic-bezier(.01, -0.08, .56, 1.35);
}

